<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/view/styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header Section Starts -->
    <div class="container" id="header-section">
      <header class="py-3 mb-3 border-bottom">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid gap-5 p-0 d-flex align-items-center ">
            <a href="index.html" class="link-body-emphasis text-decoration-none">
              <img src="/view/assets/img/logo.png" alt="" width="100px">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
              <ul class="nav nav-pills gap-2 navigation-links">
                <li class="nav-item"><a href="index.html" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="shopping.html" class="nav-link">Shopping</a></li>
                <li class="nav-item"><a href="profile.html" class="nav-link">My Account</a></li>
                <li class="nav-item"><a href="cart.html" class="nav-link">Cart</a></li>
                <li class="nav-item"><a href="checkout.html" class="nav-link">Checkout</a></li>
              </ul>
    
              <ul class="nav nav-pills navigation-icons">
                <li class="nav-item"><a href="cart.html" class="nav-link">
                    <i class="bi bi-bag" style="font-size: 16px;"></i>
                </a></li>
                <li class="nav-item"><a href="favourite.html" class="nav-link">
                    <i class="bi bi-heart" style="font-size: 16px;"></i>
                </a></li>
                <li class="nav-item"><a href="profile.html" class="nav-link">
                    <i class="bi bi-person" style="font-size: 16px;"></i>
                </a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <!-- Header Section Ends -->  


    <!-- Heroes Section Starts -->
    <div class="container p-3 bg-warning" id="heroes-section">
      <div class="row flex-lg-row-reverse align-items-center g-5 justify-content-center">
        <div class="col-lg-6">
          <img src="/view/assets/img/banners/shelving-b5da691fc15657844432718a75b747af.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" style="width: 100%; height: 400px;">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">This is IDEA</h1>
          <p class="lead mb-3">
            Welcome to IDEA, your ideal destination for high-quality furniture and endless inspiration 
            for your living space. Explore our diverse collection today!
          </p>
          <div class="d-flex gap-3 justify-content-md-start">
            <a class="btn btn-primary px-4" href="register.html" role="button">Register now</a>
            <a class="d-flex align-items-center login-link" href="login.html">Login to your account</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Heroes Section Ends -->


    <!-- Popular Products Section Starts -->
    <div class="container pt-5" id="popular-products-section">
      <h2 class="py-3 border-bottom">Popular Products</h2>
      <div class="row g-3 justify-content-start pt-3 product-cards">
        <div class="col-4 col-md-3 col-lg-2">        
          <div class="product-card card text-black">
            <i class="bi bi-heart pt-2 px-2"></i>
            <a href="product-detail.html" class="link-body-emphasis text-decoration-none">
              <img
              src="/view/assets/img/products/revskaer-3-seat-conversation-set-outdoor-anthracite-froesoen-duvholmen-dark-gray__1240171_pe919187_s5.png"
              class="product-img card-img-top img-fluid"
              alt=""
              />
            </a>
            <div class="card-body p-2">
              <div class="text-center text-break">
                  <h6 class="card-title"><a class="product-name" href="product-detail.html">REVSKÄR</a></h6>
              </div>
              <div class="d-flex justify-content-center">
                <strong class="text-success product-price">$199</strong>
              </div>
              <div class="d-flex justify-content-between font-weight-bold mt-3">
                <button class="w-100 btn btn-warning add-to-cart-btn">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2">        
          <div class="product-card card text-black">
            <i class="bi bi-heart pt-2 px-2"></i>
            <a href="product-detail.html" class="link-body-emphasis text-decoration-none">
              <img
              src="/view/assets/img/products/revskaer-3-seat-conversation-set-outdoor-anthracite-froesoen-duvholmen-dark-gray__1240171_pe919187_s5.png"
              class="product-img card-img-top img-fluid"
              alt=""
              />
            </a>
            <div class="card-body p-2">
              <div class="text-center text-break">
                  <h6 class="card-title"><a class="product-name" href="product-detail.html">REVSKÄR</a></h6>
              </div>
              <div class="d-flex justify-content-center">
                <strong class="text-success product-price">$199</strong>
              </div>
              <div class="d-flex justify-content-between font-weight-bold mt-3">
                <button class="w-100 btn btn-warning add-to-cart-btn">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2">        
          <div class="product-card card text-black">
            <i class="bi bi-heart pt-2 px-2"></i>
            <a href="product-detail.html" class="link-body-emphasis text-decoration-none">
              <img
              src="/view/assets/img/products/revskaer-3-seat-conversation-set-outdoor-anthracite-froesoen-duvholmen-dark-gray__1240171_pe919187_s5.png"
              class="product-img card-img-top img-fluid"
              alt=""
              />
            </a>
            <div class="card-body p-2">
              <div class="text-center text-break">
                  <h6 class="card-title"><a class="product-name" href="product-detail.html">REVSKÄR</a></h6>
              </div>
              <div class="d-flex justify-content-center">
                <strong class="text-success product-price">$199</strong>
              </div>
              <div class="d-flex justify-content-between font-weight-bold mt-3">
                <button class="w-100 btn btn-warning add-to-cart-btn">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2">        
          <div class="product-card card text-black">
            <i class="bi bi-heart pt-2 px-2"></i>
            <a href="product-detail.html" class="link-body-emphasis text-decoration-none">
              <img
              src="/view/assets/img/products/revskaer-3-seat-conversation-set-outdoor-anthracite-froesoen-duvholmen-dark-gray__1240171_pe919187_s5.png"
              class="product-img card-img-top img-fluid"
              alt=""
              />
            </a>
            <div class="card-body p-2">
              <div class="text-center text-break">
                  <h6 class="card-title"><a class="product-name" href="product-detail.html">REVSKÄR</a></h6>
              </div>
              <div class="d-flex justify-content-center">
                <strong class="text-success product-price">$199</strong>
              </div>
              <div class="d-flex justify-content-between font-weight-bold mt-3">
                <button class="w-100 btn btn-warning add-to-cart-btn">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2">        
          <div class="product-card card text-black">
            <i class="bi bi-heart pt-2 px-2"></i>
            <a href="product-detail.html" class="link-body-emphasis text-decoration-none">
              <img
              src="/view/assets/img/products/revskaer-3-seat-conversation-set-outdoor-anthracite-froesoen-duvholmen-dark-gray__1240171_pe919187_s5.png"
              class="product-img card-img-top img-fluid"
              alt=""
              />
            </a>
            <div class="card-body p-2">
              <div class="text-center text-break">
                  <h6 class="card-title"><a class="product-name" href="product-detail.html">REVSKÄR</a></h6>
              </div>
              <div class="d-flex justify-content-center">
                <strong class="text-success product-price">$199</strong>
              </div>
              <div class="d-flex justify-content-between font-weight-bold mt-3">
                <button class="w-100 btn btn-warning add-to-cart-btn">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2">        
          <div class="product-card card text-black">
            <i class="bi bi-heart pt-2 px-2"></i>
            <a href="product-detail.html" class="link-body-emphasis text-decoration-none">
              <img
              src="/view/assets/img/products/revskaer-3-seat-conversation-set-outdoor-anthracite-froesoen-duvholmen-dark-gray__1240171_pe919187_s5.png"
              class="product-img card-img-top img-fluid"
              alt=""
              />
            </a>
            <div class="card-body p-2">
              <div class="text-center text-break">
                  <h6 class="card-title"><a class="product-name" href="product-detail.html">REVSKÄR</a></h6>
              </div>
              <div class="d-flex justify-content-center">
                <strong class="text-success product-price">$199</strong>
              </div>
              <div class="d-flex justify-content-between font-weight-bold mt-3">
                <button class="w-100 btn btn-warning add-to-cart-btn">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 d-flex justify-content-center align-items-center pt-3">        
          <a class="btn btn-secondary px-4 w-50" href="shopping.html" role="button">See all</a>
        </div>
      </div>
    </div>
    <!-- Popular Products Section Ends -->


    <!-- Rooms Section Starts -->
    <div class="container pt-5" id="rooms-section">
      <h2 class="pb-3 border-bottom">IDEA Rooms</h2> 
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
        <div class="col">
          <div class="room-card card card-cover h-100 overflow-hidden text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.3) 100%), url('/view/assets/img/banners/two-blue-kivik-armchairs-face-each-other-on-a-black-and-whit-e8eb237382f450dbf0c88bd152083b1f.png'); background-repeat: no-repeat; background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="shopping.html" class="text-white text-decoration-none">Living room</a></h2>
              <p class="mb-4 lh-1">All products for the living room, to create a comfortable and entertaining space for family and friends.</p>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="room-card card card-cover h-100 overflow-hidden text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.3) 100%), url('/view/assets/img/banners/a-earthy-styled-bedroom-with-a-black-and-white-comforter-and-40cf97c0f3a7decdafe917807b80dfb9.png'); background-repeat: no-repeat; background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="shopping.html" class="text-white text-decoration-none">Bedroom</a></h2>
              <p class="mb-4 lh-1">Comfort and tranquility are top priorities, with a diverse range of furniture and bedroom decor items from us.</p>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="room-card card-cover h-100 overflow-hidden text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.3) 100%), url('/view/assets/img/banners/a-bathroom-with-aengsjoen-fronts-in-oak-effect-has-a-vanity--57c3b910879fc7629d630af15c0d97ec.png'); background-repeat: no-repeat; background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="shopping.html" class="text-white text-decoration-none">Bathroom</a></h2>
              <p class="mb-4 lh-1">Enjoy every moment in the bathroom with a collection of convenient and luxurious products from us.</p>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="room-card card-cover h-100 overflow-hidden text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.3) 100%), url('/view/assets/img/banners/a-small-kitchen-with-matte-white-voxtorp-fronts-white-walls--abee584a05e766f1d1e09198d617d550.png'); background-repeat: no-repeat; background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="shopping.html" class="text-white text-decoration-none">Kitchen</a></h2>
              <p class="mb-4 lh-1">Create a space for cooking and enjoying delicious meals with quality kitchen furniture and utensils from us.</p>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="room-card card-cover h-100 overflow-hidden text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.3) 100%), url('/view/assets/img/banners/a-living-space-with-a-small-workstation-placed-behind-a-sofa-9e43689862e00ac3cae42ccc4045f027.png'); background-repeat: no-repeat; background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="shopping.html" class="text-white text-decoration-none">Home office</a></h2>
              <p class="mb-4 lh-1">Optimize your work-from-home experience with efficient furniture and accessories from us.</p>              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="room-card card-cover h-100 overflow-hidden text-white bg-warning">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
              <h2 class="mb-4 display-6 lh-1 fw-bold text-primary"><a href="shopping.html" class="text-decoration-none">And so much more, shopping now!</a></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Rooms Section Ends -->


    <!-- About Us Section Starts -->
    <!-- Testimonial 1 - Bootstrap Brain Component -->
    <div class="container py-5 border-bottom" id="about-us-section">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="pb-3 border-bottom text-center">About us</h2> 
          <p class="text-secondary text-center lead fs-4">With an unwavering commitment to innovation, we strive to redefine the essence of home decor, turning dreams into reality, one piece of furniture at a time.</p>
          <hr class="w-50 mx-auto mb-5 border-dark-subtle">
        </div>
      </div>

      <div class="members-section container overflow-hidden">
        <div class="row justify-content-lg-around gy-5 gy-md-6">
          <div class="member-card col-6 col-md-3">
            <div class="col-xl-11 col-xxl-10 mx-auto text-center">
              <img class="img-fluid rounded rounded-circle mb-4 img-thumbnail" loading="lazy" src="/view/assets/img/about-us/z5393318994166_27e66a3612c6ff6a2aa2927c503fb234.jpg" alt="" width="180" height="180">
              <p class="m-0 fw-bold">Thanh Phong - Founder</p>
            </div>
          </div>
          <div class="member-card col-6 col-md-3">
            <div class="col-xl-11 col-xxl-10 mx-auto text-center">
              <img class="img-fluid rounded rounded-circle mb-4 img-thumbnail" loading="lazy" src="/view/assets/img/about-us/Screenshot 2024-04-29 163718.png" alt="" width="180" height="180">
              <p class="m-0 fw-bold">Gia Tuan - Co-Founder</p>
            </div>
          </div>
          <div class="member-card col-6 col-md-3">
            <div class="col-xl-11 col-xxl-10 mx-auto text-center">
              <img class="img-fluid rounded rounded-circle mb-4 img-thumbnail" loading="lazy" src="/view/assets/img/about-us/Screenshot 2024-04-29 163258.png" alt="" width="180" height="180">
              <p class="m-0 fw-bold">Minh Trung - Designer</p>
            </div>
          </div>
          <div class="member-card col-6 col-md-3">
            <div class="col-xl-11 col-xxl-10 mx-auto text-center">
              <img class="img-fluid rounded rounded-circle mb-4 img-thumbnail" loading="lazy" src= "/view/assets/img/about-us/Screenshot 2024-04-29 163414.png" alt="" width="180" height="180">
              <p class="m-0 fw-bold">Thanh Tan - Designer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Us Section Ends -->


    <!-- Featured Section Starts -->
    <div class="container py-5" id="featured-section">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-3">
        <div class="col d-flex align-items-start">
          <i class="bi bi-box2 flex-shrink-0 me-3" style="font-size: 32px;"></i>
          <div>
            <h4 class="fw-bold mb-0">Diverse products</h4>
            <p>Discover our wide selection of carefully curated products.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <i class="bi bi-rocket-takeoff flex-shrink-0 me-3" style="font-size: 32px;"></i>
          <div>
            <h4 class="fw-bold mb-0">Express delivery</h4>
            <p>Enjoy swift and efficient shipping with our express delivery service.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <i class="bi bi-truck flex-shrink-0 me-3" style="font-size: 32px;"></i>
          <div>
            <h4 class="fw-bold mb-0">Free shipping</h4>
            <p>Shop worry-free with our free shipping on all orders within a 5km radius.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <i class="bi bi-arrow-left-right flex-shrink-0 me-3" style="font-size: 32px;"></i>
          <div>
            <h4 class="fw-bold mb-0">Return policy</h4>
            <p>A hassle-free return policy to ensure your satisfaction with every purchase.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Featured Section Ends -->


    <!-- Footer Section Starts -->
    <div class="container" id="footer-section">
        <footer class="pt-5 border-top">
          <div class="row">
            <div class="col-6 col-md-3 col-lg-2 mb-3">
              <h5>Sections</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="index.html#heroes-section" class="nav-link p-0 text-body-secondary">Heroes</a></li>
                <li class="nav-item mb-2"><a href="index.html#popular-products-section" class="nav-link p-0 text-body-secondary">Popular products</a></li>
                <li class="nav-item mb-2"><a href="index.html#rooms-section" class="nav-link p-0 text-body-secondary">Rooms</a></li>
                <li class="nav-item mb-2"><a href="index.html#about-us-section" class="nav-link p-0 text-body-secondary">About us</a></li>
                <li class="nav-item mb-2"><a href="index.html#featured-section" class="nav-link p-0 text-body-secondary">Featured</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-3 col-lg-2 mb-3">
              <h5>Infomations</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy policy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Return policy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms and conditions</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Customer service</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
              </ul>
            </div>
      
            <div class="col-12 col-md-6 col-lg-4 mb-3">
              <h5>Contact</h5>
              <ul class="nav flex-column">
                <li class="nav-item d-flex"><i class="bi bi-house"></i><span class="mx-1 mb-2">273 An Duong Vuong St, District 5, Ho Chi Minh City</span></li>
                <li class="nav-item d-flex"><i class="bi bi-envelope-at"></i><span class="mx-1 mb-2">team19sgu@gmail.com</span></li>
                <li class="nav-item d-flex"><i class="bi bi-telephone"></i><span class="mx-1">+01 234 567 89</span></li>
              </ul>
            </div>
      
            <div class="col-12 col-lg-4 mb-3">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-warning" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 mt-4 border-top">
            <p>© 2024 Team 19 SGU, Inc. All rights reserved.</p>
          </div>
        </footer>
    </div>
    <!-- Footer Section Ends -->
</body>
</html>