.header {
    height: 778px;
  }
  .navigation {
    height: 76px;
  }
  .head-name {
    height: 68px;
    width: 450px;
    color: #3880be;
    font-family: Lalezar;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 68px;
    text-align: center;
    float: left;
  }
  .top-menu {
    height: 68px;
    float: right;
  }
  .top-menu ul li {
    display: inline-block;
    height: 28px;
    width: 100px;
    color: #3880be;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
  }
  .main-banner{
    min-height:550px;
    height: 100%;
    background-size:  cover;
    background-image: url('mainbanner.jpg');
  }
